$primary_color:#FFBA00;
$secondary_color:#808080;
$primary_font:'Roboto', sans-serif;
$secondary_font:'Courier Prime', monospace;

@mixin nav($float){
    display: inline;
    float:$float;
    img{
        width: 3vh;
        height: 3vh;
        margin: 1rem;
    }
}
@mixin grid($rows,$colums,$gap-rows:0,$gap-colums:0){
    display: grid;
    grid-template-columns: $colums;
    gap:$gap-colums;
    grid-template-rows: $rows;
    gap:$gap-rows;
}

body{
    background: white;
    height: 100%;
    font-family: $primary_font;
    border: 0;
    margin: 0;
    
}

.main{
    @include grid(1fr 1fr 5fr 1fr,1fr);
    margin: 0px;
    height: 100vh;
    navbar{
        ul{
             position:fixed;
             background:white;
             padding-inline-start: 0px;
             padding-block-start: 10%;
             width: 80%;
             padding-right: 10%;
             padding-left: 10%;
             margin: auto;

            .elm-1{
              @include nav(left);
            }
            .elm-2{
              @include nav(right);
            }

        }
    }
    .head{
        width: 80%;
        padding-block: 10vh;
        margin: auto;
        h1{
            color: black;
            font-family:$secondary_font;
            font-size: 4vh;
            margin-bottom: 0;
            margin-top:0;
        }
        div{
            height: 1rem;
            background: $primary_color;
            width: 30%;
        }
    }
    
    .container{
        @include grid(0.5fr 4.5fr,1fr);
        .head-orders{
            @include grid(1fr, 2fr 1fr 1fr);
            text-align: center;
            padding: 2rem;
            width: 80%;
            margin: auto;
            div{
                .head-font2{
                    font-size:1.8em!important;
                    float: right;
                }
                .head-font{
                    font-size:1.8em!important;
                    float: left;
                }
            }
        }
        

        .list{
            .element{
                border-top: 1px solid $secondary_color;
                @include grid(1fr,0.3fr 2fr 1fr 1fr);
                flex:auto;
                transition: all 1s;
                

                .market-y{
                    height: 100%;
                    width: 1rem;
                    background: white;
                }
                .inf{
                    display: table;
                    padding: 2.5rem;
                    label{
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

            }

            .more{
                @include grid(0.5fr 1fr, 1fr,5%,5%);
                padding-top: 2rem;
                padding-bottom: 5rem;
                .head-more{
                    @include grid(1fr, 1fr 1fr 1fr,0,0);
                    width: 80%;
                    margin: auto;
                    padding-top:2rem;
                    .squart-1{
                        label{
                        overflow:inline;
                        font-family: $primary_font;
                            img{
                                width: 2rem;
                                height: 2rem;
                                margin-right:1rem ;
                            }
                        }
                    }
                    .squart-2{
                        label{
                            float: right;
                            .text-one{
                                color:black;
                                margin-right: 1rem;
                            }
                            .text-two{
                                color:$secondary_color;
                                //float:right;
                            }
                        }
                    }
                }
                .container-more{
                    width: 100%;
                    @include grid(1fr, 1.5fr 0.5fr 1fr,0,5%);
                    .squart-3{
                        width: 50%;
                        margin: auto;
                        padding:2rem 0rem 2rem 5rem;
                    }
                    .squart-4{
                        padding-top:1rem;
                        div{
                            background: $primary_color;
                            padding:3.5rem;
                            text-align: center;
                            border-radius: 15%;
                            width: 50%;
                            float: right;
                            margin-right: -2%;
                        }
                    }
                }
            }
            
            .name{
                margin-bottom:2rem;
            }
        }

    }

    .footer{
        width: 80%;
        margin:auto;
        height: 100%;
        @include grid(1fr, 1fr 1fr 1fr,3rem,0);
        .icon-footer{
            text-align: center;
            div{
                height: 1rem;
                width: 100%;
                background: white;
                margin-bottom: 2rem;
            }
            img{
                width: 3vh;
                height: 3vh;
                margin: auto;
            }
        }

        .center{
            div{
                background: $primary_color;
                border-radius:100%;
                width: 12rem;
                height: 12rem;
                margin: auto;
                margin-top:-5rem;
                text-align: center;
                vertical-align: middle;
                    img{
                        width: 3vh;
                        height: 3vh;
                        //margin: 3vh;
                        vertical-align: middle;
                        margin-bottom: -10rem;
                    }   
            }
           

        }
        
    }
    
    
 }  

  //general class
.style-font{
    font-size:2.5rem;  
    font-weight:bold;
}

  .style-font2{
    font-size:2rem;  
    font-family:$primary_font;
}

.gray-font{
    color:$secondary_color;
}

.img-profile{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-right: 2rem;
}
.img-profile-bl{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-right: 2rem;
    opacity: 0.5;
}
.img-profile-2{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin:0.5rem;
   // margin-right: 2rem;
}
.cancel{
    width: 100%;
    height: 0.2rem;
    background: $secondary_color;
    margin-top: -5rem;
}

/*-----------------------animation-------------------*/
.element{
    box-shadow: 5px 0 #eeeeee inset;
    &:hover{
        box-shadow: 1000px 0 #eeeeee inset;
    }
    &:onclick{
        box-shadow: 1000px 0 #eeeeee ;
          
    }
}






        

            
        
        

       
       
    
 
