body {
  background: white;
  height: 100%;
  font-family: "Roboto", sans-serif;
  border: 0;
  margin: 0; }

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  gap: 0;
  margin: 0px;
  height: 100vh; }
  .main navbar ul {
    position: fixed;
    background: white;
    padding-inline-start: 0px;
    padding-block-start: 10%;
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    margin: auto; }
    .main navbar ul .elm-1 {
      display: inline;
      float: left; }
      .main navbar ul .elm-1 img {
        width: 3vh;
        height: 3vh;
        margin: 1rem; }
    .main navbar ul .elm-2 {
      display: inline;
      float: right; }
      .main navbar ul .elm-2 img {
        width: 3vh;
        height: 3vh;
        margin: 1rem; }
  .main .head {
    width: 80%;
    padding-block: 10vh;
    margin: auto; }
    .main .head h1 {
      color: black;
      font-family: "Courier Prime", monospace;
      font-size: 4vh;
      margin-bottom: 0;
      margin-top: 0; }
    .main .head div {
      height: 1rem;
      background: #FFBA00;
      width: 30%; }
  .main .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-rows: 0.5fr 4.5fr;
    gap: 0; }
    .main .container .head-orders {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 0;
      grid-template-rows: 1fr;
      gap: 0;
      text-align: center;
      padding: 2rem;
      width: 80%;
      margin: auto; }
      .main .container .head-orders div .head-font2 {
        font-size: 1.8em !important;
        float: right; }
      .main .container .head-orders div .head-font {
        font-size: 1.8em !important;
        float: left; }
    .main .container .list .element {
      border-top: 1px solid #808080;
      display: grid;
      grid-template-columns: 0.3fr 2fr 1fr 1fr;
      gap: 0;
      grid-template-rows: 1fr;
      gap: 0;
      flex: auto;
      transition: all 1s; }
      .main .container .list .element .market-y {
        height: 100%;
        width: 1rem;
        background: white; }
      .main .container .list .element .inf {
        display: table;
        padding: 2.5rem; }
        .main .container .list .element .inf label {
          display: table-cell;
          vertical-align: middle; }
    .main .container .list .more {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5%;
      grid-template-rows: 0.5fr 1fr;
      gap: 5%;
      padding-top: 2rem;
      padding-bottom: 5rem; }
      .main .container .list .more .head-more {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
        grid-template-rows: 1fr;
        gap: 0;
        width: 80%;
        margin: auto;
        padding-top: 2rem; }
        .main .container .list .more .head-more .squart-1 label {
          overflow: inline;
          font-family: "Roboto", sans-serif; }
          .main .container .list .more .head-more .squart-1 label img {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem; }
        .main .container .list .more .head-more .squart-2 label {
          float: right; }
          .main .container .list .more .head-more .squart-2 label .text-one {
            color: black;
            margin-right: 1rem; }
          .main .container .list .more .head-more .squart-2 label .text-two {
            color: #808080; }
      .main .container .list .more .container-more {
        width: 100%;
        display: grid;
        grid-template-columns: 1.5fr 0.5fr 1fr;
        gap: 5%;
        grid-template-rows: 1fr;
        gap: 0; }
        .main .container .list .more .container-more .squart-3 {
          width: 50%;
          margin: auto;
          padding: 2rem 0rem 2rem 5rem; }
        .main .container .list .more .container-more .squart-4 {
          padding-top: 1rem; }
          .main .container .list .more .container-more .squart-4 div {
            background: #FFBA00;
            padding: 3.5rem;
            text-align: center;
            border-radius: 15%;
            width: 50%;
            float: right;
            margin-right: -2%; }
    .main .container .list .name {
      margin-bottom: 2rem; }
  .main .footer {
    width: 80%;
    margin: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    grid-template-rows: 1fr;
    gap: 3rem; }
    .main .footer .icon-footer {
      text-align: center; }
      .main .footer .icon-footer div {
        height: 1rem;
        width: 100%;
        background: white;
        margin-bottom: 2rem; }
      .main .footer .icon-footer img {
        width: 3vh;
        height: 3vh;
        margin: auto; }
    .main .footer .center div {
      background: #FFBA00;
      border-radius: 100%;
      width: 12rem;
      height: 12rem;
      margin: auto;
      margin-top: -5rem;
      text-align: center;
      vertical-align: middle; }
      .main .footer .center div img {
        width: 3vh;
        height: 3vh;
        vertical-align: middle;
        margin-bottom: -10rem; }

.style-font {
  font-size: 2.5rem;
  font-weight: bold; }

.style-font2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif; }

.gray-font {
  color: #808080; }

.img-profile {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-right: 2rem; }

.img-profile-bl {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-right: 2rem;
  opacity: 0.5; }

.img-profile-2 {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin: 0.5rem; }

.cancel {
  width: 100%;
  height: 0.2rem;
  background: #808080;
  margin-top: -5rem; }

/*-----------------------animation-------------------*/
.element {
  box-shadow: 5px 0 #eeeeee inset; }
  .element:hover {
    box-shadow: 1000px 0 #eeeeee inset; }
  .element:onclick {
    box-shadow: 1000px 0 #eeeeee; }

/*# sourceMappingURL=style.css.map */
