doctype
html(lang="en")
    head
        //meta(charset="UTF-8")
        //meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Test Layout
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css")
        link(href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
    
    body
        div.main
            navbar
                ul
                    li.elm-1: img(src="icon/notification.svg")
                    li.elm-2: img(src="icon/settings.svg")
       
            section.head
                h1 Reminders
                div
            section.container
                div.head-orders
                    div
                        label.gray-font.head-font RECEPIENT
                    div
                        label.gray-font.head-font2 DEADLINE
                    div
                        label.gray-font.head-font2 RECEPIENT
                div.list
                    div
                        //element-1
                        div(onclick="viewMarker(1)").element.row-style
                            div#market-y-1.market-y
                            div.inf
                                img(src="img/user-1.jpg").img-profile
                                label.style-font.name Tom
                            div.inf
                                label.style-font 31/08
                            div.inf
                                label.style-font $5.00
                        //element1-information
                        div(style="display:none").more#info-user1
                            div.head-more 
                                div.squart-1
                                    label
                                        img(src="icon/marker.svg") 
                                        span.style-font2 Steak House
                                div
                                div.squart-2
                                    label
                                        label.text-one.style-font2 3
                                        label.text-two.style-font2 days left
                            
                            div.container-more
                                div.squart-3
                                    div 
                                        label.style-font2.gray-font Participant
                                        div
                                            img(src="img/user-1.jpg").img-profile-2
                                            img(src="img/user-2.jpg").img-profile-2
                                            img(src="img/user-3.jpg").img-profile-2
                                div
                                div.squart-4
                                    div
                                        label.style-font Pay
                        //element-2
                        div(onclick="viewMarker(2)").element.row-style
                            div#market-y-2.market-y
                            div.inf
                                img(src="img/user-2.jpg").img-profile
                                label.style-font.name Oliver
                            div.inf
                                label.style-font 31/08
                            div.inf
                                label.style-font $28.00
                        //element2-information
                        div(style="display:none").more#info-user2
                            div.head-more 
                                div.squart-1
                                    label
                                        img(src="icon/marker.svg") 
                                        span.style-font2 Steak House
                                div
                                div.squart-2
                                    label
                                        span.text-one.style-font2 3
                                        span.text-two.style-font2 days left
                            
                            div.container-more
                                div.squart-3
                                    div 
                                        label.style-font2.gray-font Participant
                                        div
                                            img(src="img/user-1.jpg").img-profile-2
                                            img(src="img/user-2.jpg").img-profile-2
                                            img(src="img/user-3.jpg").img-profile-2
                                div
                                div.squart-4
                                    div
                                        label.style-font Pay
                        //element-3 
                        div(onclick="viewMarker(3)").element.row-style
                            divmarket
                            div.inf
                                img(src="img/user-3.jpg").img-profile-bl
                                label.style-font.name.gray-font Maria
                            div.inf
                                label.style-font.gray-font 31/08
                            div.inf
                                label.style-font.gray-font $2.00
                            div.cancel
                        div.cancel
                        
            section.footer
                div(onclick="Action(1)").icon-footer
                    div#icon-footer1
                    img(src="icon/home.svg")
                div.center
                    div.icon-round
                        img(src="icon/frame.svg")
                div(onclick="Action(2)").icon-footer
                    div#icon-footer2
                    img(src="icon/user.svg")
    
    script(src="main.js")